In [23]:
from pathlib import Path
import pandas as pd
import numpy as np

In [100]:
data_df=pd.read_csv(Path("budget_data.csv"))
data_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [15]:
total_months=len(data_df)

In [16]:
print(total_months)

86

In [17]:
total_profit=data_df["Profit/Losses"].sum()

In [18]:
print(total_profit)

38382578

In [33]:
avg_change=data_df["Profit/Losses"].diff()

In [36]:
print(avg_change)

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [103]:
data_df["change"]=data_df["Profit/Losses"].diff()
data_df.head()

       Date  Profit/Losses    change
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [76]:
data_df.head()

       Date  Profit/Losses    change
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [59]:
avg_change=data_df["change"].mean()

In [66]:
greatest_increase=data_df["change"].max()

In [83]:
greatest_decrease=data_df["change"].min()

In [104]:
print(data_df)

        Date  Profit/Losses    change
0   Jan-2010         867884       NaN
1   Feb-2010         984655  116771.0
2   Mar-2010         322013 -662642.0
3   Apr-2010         -69417 -391430.0
4   May-2010         310503  379920.0
..       ...            ...       ...
81  Oct-2016         102685 -665765.0
82  Nov-2016         795914  693229.0
83  Dec-2016          60988 -734926.0
84  Jan-2017         138230   77242.0
85  Feb-2017         671099  532869.0

[86 rows x 3 columns]

In [113]:
update=data_df.loc[data_df['change']==(greatest_increase)]

In [114]:
downdate=data_df.loc[data_df['change']==(greatest_decrease)]

In [116]:
results = (f" Total Months: {total_months} \n Total: {total_profit} \n Average Change: {avg_change} \n Greatest Increase in Profits: {update} \n Greatest Decrease in Profits: {downdate}")


print("Financial Analysis")
print ("---------------------------------------------")
print(results)

Financial Analysis
---------------------------------------------
 Total Months: 86
 Total: 38382578
 Average Change: -2315.1176470588234
 Greatest Increase in Profits:         Date  Profit/Losses     change
25  Feb-2012        1170593  1926159.0
 Greatest Decrease in Profits:         Date  Profit/Losses     change
44  Sep-2013       -1196225 -2196167.0